# Django
__pycache__/
*.pyc
*.pyo
*.sqlite3
*.log
*.env
db.sqlite3

# React
node_modules/
build/

# Virtual environments
pds_env/
venv/

# Airflow
airflow/logs/
airflow/scheduler/latest

# Editors
.idea/
.vscode/

# OS Specific
Thumbs.db
.DS_Store
